@import './reset.scss';
@import './splash.scss';
@import './navbar.scss';
@import './session-modal.scss';
@import './rentals.scss';

* {
    font-size: 16px;
}

#root {
    height: 100%;
    width: 100%;
    
    font-family: "Centuy Gothic", CenturyGothic, Helvetica;

    .page-container {
        display: grid;
        grid-template-columns: 25vw auto auto;
        grid-template-rows: 10vh repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

