.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: 1 / 1 / 2 / 4;
    height: 10vh;
    
    margin-left: 10vw;
    margin-right: 10vw;
    
    .searchbar {
        margin-top: 0.5vh;
        .searchbar-input {
            width: 15em;
            border-radius: 4px;
        }
    }
    .account-buttons {
        .logout-button {
            height: 2rem;
            border: none;
        }
    }
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 6 / 2;

    place-self: start center;

    margin-top: 5rem;
    
    .sidebar-nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid lightgrey;
        
        text-emphasis: center;

        a:hover {
            font-weight: 700;
        }
    }

    .sidebar-nav-link:first-of-type {
        margin-top: 0.75rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;

        text-emphasis: center;
    }


    img {
        width: auto;
        height: 15vh;
        &:hover {
            opacity: 0.75;
        }
    }
}