.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: 1 / 1 / 2 / 4;
    height: 5vh;
    
    margin-left: 7vw;
    margin-right: 7vw;
    border-bottom: 1px lightgrey solid;

    .searchbar {
        align-self: center;

        .searchbar-input {
            width: 15em;
            border-radius: 4px;
        }

    }
    .account-buttons {
        align-self: center;
        .logout-button {
            height: 2rem;
            border: none;
        }
        button {
            // border: none;
            background-color: none;
            border: none;
            cursor: pointer;
            padding: 0.5em;
            margin-left: 0.25em;
            margin-right: 0.25em;
            font-weight: 700;
            &:hover {
                border-bottom: 1px solid black;
                padding-top: 0.95rem;
                padding-bottom: 0.85rem;
            }
        }        
    }
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 6 / 2;

    place-self: start center;

    margin-top: 5rem;
    
    .sidebar-nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid lightgrey;
        
        text-emphasis: center;

        a:hover {
            font-weight: 700;
        }
    }

    .sidebar-nav-link:first-of-type {
        margin-top: 0.75rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;

        text-emphasis: center;
    }

    img {
        width: auto;
        height: 15vh;
        &:hover {
            opacity: 0.75;
        }
    }
}