.splash-container{
    grid-area: 2 / 2 / 6 / 4;
    text-align: left;

    
    .header-container{
        display: flex;
        .mission-statement-text{
            width: 25vw;
            margin-left: 25px;
            align-self: center;
            .title {
                font-size: 1.75rem;
                font-weight: 700;
                color: black;
                margin-bottom: 25px;
            }
        }

    }
}