.splash-container{
    grid-area: 2 / 2 / 6 / 4;
    height: 100vh;
    text-align: left;

    
    .header-container{
        display: flex;

        .title {
            font-size: 1.5rem;
            color: black;
        }

    }
}